* {
  margin: 0; /* Аннулируем внешние отступы  */
  padding: 0; /* Аннулируем внутренние отступы */
  border: 0;
  outline: 0;
  box-sizing: border-box; /* Задаем параметр границам блока */
}

html {
  font-size: 16px; /* Задаем размер шрифта  */
}

body {
  font-family: 'Roboto', sans-serif; /* Задаем стандратный шрифт для всей страницы  */
  font-size: 1rem; /* Задаем размер шрифта в rem  */
  line-height: 1; /* Задаем величину пространства между строками  */
  width: 100%; /* Задаем размер для body  */
  height: 200vh;
}

a {
  text-decoration: none; /* Убираем стандратную стилизацию для ссылок  */
}

.header,
.header__menu,
.wrapper,
.wrapper__item,
.wrapper__form,
.wrapper__item--contacts {
  display: flex;
}

.header,
.header__menu,
.wrapper__item,
.wrapper__form,
.wrapper__item--contacts {
  flex-direction: row;
}

.header,
.wrapper,
.wrapper__item,
.wrapper__form {
  justify-content: center;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  padding: 1.5% 1%;
  font-size: 1rem;
  font-weight: 700;
  background-color: aliceblue;
  box-shadow: 0 2px 6px rgb(63, 63, 63);
}

.header__menu {
  justify-content: space-between;
  width: 75%;
}

.header__menu--item {
  display: inline-block;
  padding: 0.5% 1.5%;
}

.menu__link {
  color: rgb(93, 93, 93);
}

.menu__link:hover {
  cursor: pointer;
  color: rgb(255, 115, 0);
}

.wrapper {
  flex-direction: column;
  background-image: url(../img/tur6.jpg);
  background-size: cover;
  margin-top: 4.5%;
}

.wrapper__item {
  font-size: 2rem;
  padding: 0.5%;
  margin: 12% auto 0.5%;
  width: 50%;
  color: aliceblue;
}

.wrapper__form {
  padding: 0.5%;
  margin: 0% 0% 12% 0%;
}

.search {
  width: 70%;
  font-size: 1rem;
  padding: 1.5%;
  border-radius: 10px 0 0 10px;
  box-shadow: 0 4px 12px rgb(107, 107, 107);
}

.submit {
  width: 15%;
  padding: 0%;
  font-size: 1.2rem;
  color: aliceblue;
  background-color: rgb(255, 115, 0);
  border-radius: 0 10px 10px 0;
  cursor: pointer;
  box-shadow: 0 4px 12px rgb(107, 107, 107);
}

.wrapper__item--contacts {
  justify-content: space-around;
  align-items: center;
  width: 30%;
  border: 2px solid rgb(2, 217, 66);
}

.wrapper__item--branch {
  color: black;
  border: 2px solid brown;
}
