* {
  margin: 0; /* Аннулируем внешние отступы  */
  padding: 0; /* Аннулируем внутренние отступы */
  box-sizing: border-box; /* Задаем параметр границам блока */
}

html {
  font-size: 16px; /* Задаем размер шрифта  */
}

body {
  font-family: 'Silkscreen', cursive; /* Задаем стандратный шрифт для всей страницы  */
  font-size: 1rem; /* Задаем размер шрифта в rem  */
  line-height: 1; /* Задаем величину пространства между строками  */
}
